<!--Footer Section-->
<div class="container-fluid justify-content-center" style="background: #028bb7">
    <footer class="container  row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5">
        <div class="col mb-3">
            <div class="contact-info">
                <a href="https://maps.app.goo.gl/xUdm8YtdBsYUgiVx7?g_st=com.google.maps.preview.copy" target="_blank"><p class="bi">
                    <i class="bi bi-geo-alt-fill"></i> {{page.location}}
                </p>
                </a>
                <p class="bi">
                    <i class="bi bi-telephone-fill"></i> {{page.phone}}
                </p>
                <p class="col bi d-flex align-items-center">
                    <i class="bi bi-instagram fs-2 me-2"></i> @shin.ecraft
                </p>
            </div>
        </div>

        <div class="col mb-3">

        </div>

        <div class="col mb-3">
            <img alt="Before Carwash" height="200" src="{{ site.baseurl }}/assets/img/Shine-Craft-Card.png" width="200">

        </div>

        <div class="col mb-3">

        </div>

        <div class="col mb-3">

        </div>
        <div class="col-12 w-100">

            <p class="text-center text-white">Copyright© ShineCraft 2024. All right reserved</p>

        </div>


    </footer>
</div>