<div class="container-fluid m-0" style="background-color: #3682cd;">
    <div class="container text-center pt-3">
        <a href="https://facebook.com" target="_blank" class="me-3">
            <i class="fab fa-facebook fa-2x" style="color: #ffffff;"></i> <!-- Facebook blue -->
        </a>
        <a href="https://youtube.com" target="_blank" class="me-3">
            <i class="fab fa-youtube fa-2x" style="color: #FF0000;"></i> <!-- YouTube red -->
        </a>
        <a href="https://instagram.com" target="_blank">
            <i class="fab fa-instagram fa-2x" style="color: #C13584;"></i> <!-- Instagram gradient -->
        </a>
    </div>
    <header class="d-flex m-0 flex-wrap align-items-center justify-content-center justify-content-md-center">
        <div class="col-md-3  mb-md-0">
            <a class="d-inline-flex link-body-emphasis text-decoration-none" href="/">
                <img alt="Before Carwash" height="100" src="{{ site.baseurl }}/assets/img/ShineCraft-Logo-transparant.png" width="150">
            </a>
        </div>
        <ul class="nav col2 col-md-auto  justify-content-center mb-md-0">
            <li><a class="nav-link pr-4 link-secondary text-uppercase text-white" href="{{ site.baseurl }}/">Home</a></li>
            <li><a class="nav-link pr-4 link-secondary text-uppercase text-white" href="{{ site.baseurl }}/about">About</a></li>
            <li><a class="nav-link pr-4 link-secondary text-uppercase text-white" href="{{ site.baseurl }}/location">Location</a></li>
            <li><a class="nav-link pr-4 link-secondary text-uppercase text-white" href="{{ site.baseurl }}/service">Services</a></li>
            <li><a class="nav-link pr-4 link-secondary text-uppercase text-white" href="{{ site.baseurl }}/gallery">Gallery</a></li>
            <li><a class="nav-link px-4 link-secondary text-uppercase text-white" href="{{ site.baseurl }}/contact">Contact</a></li>
            <li>
                <a href="https://shinecraft.setmore.com/" target="_blank"><button class="btn btn-primary  text-uppercase" type="button">Schedule Now</button></a>
            </li>
        </ul>
    </header>
</div>